<div class="filter-modal is-hidden">
    <div class="filter-modal__header">
        <h2 class="filter-modal__title">Genres</h2>
    </div>
    <button type="button" class="modal__btn--close filter-close">
        <i class="material-icons">small close</i>
    </button>
    <div class="filter-modal__genre-list">
        <div class="checkbox-wrapper">
            <input type="checkbox" id="28" name="genre" value="28" class="custom-checkbox" />
            <label for="genre-action" class="genre-name">Action</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="12" name="genre" value="12" class="custom-checkbox" />
            <label for="genre-adventure" class="genre-name">Adventure</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="16" name="genre" value="16" class="custom-checkbox" />
            <label for="genre-animation" class="genre-name">Animation</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="35" name="genre" value="35" class="custom-checkbox" />
            <label for="genre-comedy" class="genre-name">Comedy</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="80" name="genre" value="80" class="custom-checkbox" />
            <label for="genre-crime" class="genre-name">Crime</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="99" name="genre" value="99" class="custom-checkbox" />
            <label for="genre-documentary" class="genre-name">Documentary</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="18" name="genre" value="18" class="custom-checkbox" />
            <label for="genre-drama" class="genre-name">Drama</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="10751" name="genre" value="10751" class="custom-checkbox" />
            <label for="genre-family" class="genre-name">Family</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="14" name="genre" value="14" class="custom-checkbox" />
            <label for="genre-fantasy" class="genre-name">Fantasy</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="36" name="genre" value="36" class="custom-checkbox" />
            <label for="genre-history" class="genre-name">History</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="27" name="genre" value="27" class="custom-checkbox" />
            <label for="genre-horror" class="genre-name">Horror</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="10402" name="genre" value="10402" class="custom-checkbox" />
            <label for="genre-music" class="genre-name">Music</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="9648" name="genre" value="9648" class="custom-checkbox" />
            <label for="genre-mystery" class="genre-name">Mystery</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="10749" name="genre" value="10749" class="custom-checkbox" />
            <label for="genre-romance" class="genre-name">Romance</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="878" name="genre" value="878" class="custom-checkbox" />
            <label for="genre-science-fiction" class="genre-name">Science Fiction</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="10770" name="genre" value="10770" class="custom-checkbox" />
            <label for="genre-tv-movie" class="genre-name">TV Movie</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="53" name="genre" value="53" class="custom-checkbox" />
            <label for="genre-thriller" class="genre-name">Thriller</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="10752" name="genre" value="10752" class="custom-checkbox" />
            <label for="genre-war" class="genre-name">War</label>
        </div>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="37" name="genre" value="37" class="custom-checkbox" />
            <label for="genre-western" class="genre-name">Western</label>
        </div>
    </div>
    <button type="button" class="filter-btn">OK</button>
</div>