<header class="header">
  <div class="container header__container header__container_home">
    <!-- <div class="btn_container">
      <button type="button" class="btn-modal-login bubbly-button" id="btnM">Register</button>
      <button type="button" class="btn-modal-login bubbly-button" id="btnC">Sign In</button>
      <button type="button" class="btn-modal-login btn-is-hidden" id="btnB">Exit</button>
    </div>
    <button type="button" class="btn-google" id="btnG">
      <img src="./img/pngwing.com.png" alt="" />
    </button> -->
    <nav class="navigation">
      <a href="#" class="logo" data-page="home" data-action="switch-page">
        <svg class="logo__icon">
          <use href="./img/icons/sprite.svg#icon-film"></use>
        </svg>
        <h1 class="logo__text">Film<span class="logo__text__span">oteka</span></h1>
      </a>

      <ul class="navigation__menu">
        <li class="navigation__item">
          <a class="navigation__link" data-page="home" data-action="switch-page" init href="#"
            >Home</a
          >
        </li>

        <li class="navigation__item">
          <a
            class="navigation__link library-is-hidden library"
            data-page="library"
            data-action="switch-page"
            href="#"
            >My library</a
          >
        </li>

        <div class="switch-btn"></div>
      </ul>
    </nav>

    <div class="search-conteiner">
      <form class="search-form active" data-root="search-form">
        <label for="movie-search" class="visually-hidden">Search movie</label>
        <input
          id="movie-search"
          name="searchQuery"
          type="text"
          class="search-form__input"
          placeholder="Search for movies..."
          autocomplete="off"
        />

        <button class="search-form__button" type="submit">
          <svg class="search-form__icon">
            <use href="./img/icons/sprite.svg#icon-search"></use>
          </svg>
          <span class="visually-hidden">Search</span>
        </button>
      </form>

      <ul class="library-menu" data-root="library-buttons">
        <li class="library-menu__item">
          <button type="button" class="library-menu__button btn-library-watched">watched</button>
        </li>

        <li class="library-menu__item">
          <button type="button" class="library-menu__button btn-library-queue">queue</button>
        </li>
      </ul>
    </div>
  </div>
</header>
