<div class="box">
  <div id="popup">
    <header class="header-modal">
      <span id="close">+</span>
    </header>
    <div class="content">
      <form class="modal-body">
        <label class="label-item">
          Email
          <input
            type="email"
            name="email"
            class="input-email"
            placeholder="Имя пользователя"
            size="20"
          /><br />
        </label>
        <label class="label-item">
          Password
          <input
            type="password"
            name="password"
            class="input-password"
            placeholder="Пароль"
            size="20"
          />
        </label>

        <button type="submit" class="btn-modal-login">Sigh In</button>
      </form>
    </div>
  </div>
</div>
<div class="overlay" id="overlay" style="display: none"></div>
