<div class="backdrop backdrop--is-hidden" data-modal>
    <div class="container">
    <div class="modal">
        <button type="button" class="modal__btn--close" data-modal-close>
            <svg width="30" height="30" class="icon-close">
                <use href="./img/icons.svg#icon-close"></use>
            </svg>
        </button>
        <div class="movie__image">
            <img src="./img/modal-image.jpg" alt="movie image" />
        </div>
        <div class="modal-wrapper">
        <h2 class="movie__title"></h2>
        <ul class="movie-details-info">
            <li class="movie-details-info__item">
                <p class="details__first-item">Vote / Votes</p>
                <p class="details__second-item"><div class="rate-color">7.3</div>&nbsp;/&nbsp;1260</p>
            </li>
            <li class="movie-details-info__item">
                <p class="details__first-item">Popularity</p>
                <p class="details__second-item">100.2</p>
            </li>
            <li class="movie-details-info__item">
                <p class="details__first-item">Original Title</p>
                <p class="details__second-item to-uppercase">A fistful of lead</p>
            </li>
            <li class="movie-details-info__item">
                <p class="details__first-item">Genre</p>
                <p class="details__second-item">Western</p>
            </li>
        </ul>
        <div class="about__movie">
        <h3 class="movie__description movie__description--title">About</h3>
        <p class="movie__description">
            Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the
            gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the
            abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same
            bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve
            been double crossed – but by who and how?
        </p>
        </div>
    <div class="modal__buttons">
        <button type="button" class="modal__btn" data-watched>Add to watched</button>
        <button type="button" class="modal__btn" data-queue>Add to queue</button>
    </div>
     </div>
    </div>
  </div>
</div>
