.card {
  width: 100%;
  margin-bottom: 20px;
  transition: transform $animation-duration $bezier-transition;

  @media screen and (min-width: $tablet) {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }

  &:hover {
    transform: scale(1.023);
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 3 * 30px) / 3);
  }

  &__item-list {
    display: flex;
    align-items: center;
  }

  &__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    color: $black-color;
  }

  &__item {
    color: #ff6b01;
    margin-right: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;

    &:not(:last-child):after {
      content: ',';
      display: inline-block;
    }
  }

  &__year {
    color: #ff6b01;
    margin-right: 8px;
    font-size: 12px;

    &::before {
      content: '';
      display: inline-block;
      width: 1px;
      height: 11px;
      margin-right: 5px;
      background-color: $accent-color;
    }
  }

  &__rating {
    color: $white-color;
    background-color: #ff6b01;
    border-radius: 5px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    height: 16px;
    padding-top: 1px;
  }
}

.card__description {
  margin-top: 8px;
}

.card__stats {
  align-items: center;
  margin-top: 5px;
  display: flex;
}

.card__thumb {
  height: 398px;
  @media screen and (min-width: $tablet)
   {height: 450px;}
  display: flex;
  align-items: center;
  background-color: $white-color;
}

.card__image {
height: 100%;
object-fit: cover;
}