.film-container {
  padding: 20px 0 40px 0;

  @media (min-width: $tablet) {
    padding: 60px 0;
  }
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $phone) {
    max-width: 320px;
  }

  @media (min-width: $tablet) {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }

  @media (min-width: $desktop) {
    max-width: 1024px;
  }
}

.collection {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.collection__item {
  width: 280px;
  margin-bottom: 22px;
  cursor: pointer;
  background-color: rgba(93, 229, 247, 0.61);
  height: 478.95px;
  &:nth-last-child(-n + 1) {
    margin-bottom: 0px;
  }

  @media (min-width: $tablet) {
    width: 336px;
    margin-bottom: 32px;
    margin-right: 32px;
    height: 561.86px;

    &:nth-child(2n) {
      margin-right: 0px;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @media (min-width: $desktop) {
    width: 309px;
    margin-bottom: 32px;
    margin-right: 16px;
    height: 522.86px;

    &:nth-child(2n) {
      margin-right: 15px;
    }

    &:nth-child(3n) {
      margin-right: 0px;
    }
  }
}
