.container {
  margin-left: auto;
  margin-right: auto;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media screen and (min-width: $phone) {
  .container {
    width: 320px;
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media screen and (min-width: $tablet) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: $desktop) {
  .container {
    width: 1024px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.footer {
  width: 100%;
  background-color: #f7f7f7;
  margin-left: auto;
  margin-right: auto;

  &__text-section {
    font-family: $ff-main;
    align-items: center;
    display: block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #545454;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // width: max-content;
    margin: 0 auto;
  }

  &__icon {
    color: $accent-color;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__link {
    list-style-type: none;
    font-style: normal;
    border-bottom: 1px solid rgba(84, 84, 84, 1);
    margin-left: 5px;
    text-decoration: none;
    color: #545454;
    background-color: transparent;
    cursor: pointer;
  }
}

.material-icons {
  color: $accent-color;
  font-size: 18px;
}

.footer-icon {
  margin: 0 3px;
}
