.filter-panel {
  width: 290px;
  margin: 0 auto;
  padding-bottom: 10px;
  background-color: transparent;

  @media screen and (min-width: $tablet) {
    width: 500px;
  }

  @media screen and (min-width: $desktop) {
    width: 780px;
  }
}

.filter-title {
  text-align: center;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
}

.genres-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 15px;
  padding-top: 0;
  height: 270px;

  @media screen and (min-width: $tablet) {
    height: 155px;
  }

  @media screen and (min-width: $desktop) {
    height: 135px;
    padding-bottom: 8px;
    padding-top: 5px;
  }
}

.genre-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  color: $accent-color;
}

.custom-checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.checkbox-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid $accent-color;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  background-position: center 75%;
  background-repeat: no-repeat;
}

.custom-checkbox:checked + .checkbox-icon {
  background-color: $accent-color;
  background-image: url(../img/icons/check-mark.svg);
  background-size: 85%;
}

.checkbox-wrapper {
  margin-left: 8px;
  margin-bottom: 4px;
}

.filter-btn {
  display: block;
  padding: 8px 70px;
  width: max-content;
  margin: 0px auto 0;
  background: transparent;
  border: 1px solid $accent-color;
  border-radius: 5px;
  transition: all $animation-duration $bezier-transition;
  font-weight: 500;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-color;
  }
}
