










.header {
  background-color: $black-color;
  &__container {
    position: relative;
    height: 230px;
    padding-top: 40px;
    background-color: $black-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $tablet) {
      height: 216px;
    }

    &_home {
      background-image: $bg-gradient, url(../img/home-mob-1x.jpg);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: $bg-gradient, url(../img/home-mob-2x.jpg);
      }

      @media screen and (min-width: $tablet) {
        background-image: $bg-gradient, url(../img/home-tab-1x.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: $bg-gradient, url(../img/home-tab-2x.jpg);
        }

        @media screen and (min-width: $desktop) {
          background-image: $bg-gradient, url(../img/home-desk-1x.jpg);

          @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: $bg-gradient, url(../img/home-desk-2x.jpg);
          }
        }
      }
    }

    &_library {
      background-image: $bg-gradient, url(../img/library-mob-1x.jpg);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: $bg-gradient, url(../img/library-mob-2x.jpg);
      }

      @media screen and (min-width: $tablet) {
        background-image: $bg-gradient, url(../img/library-tab-1x.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: $bg-gradient, url(../img/library-tab-2x.jpg);
        }
      }

      @media screen and (min-width: $desktop) {
        background-image: $bg-gradient, url(../img/library-desk-1x.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: $bg-gradient, url(../img/library-desk-2x.jpg);
        }
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__text {
    display: none;
    margin-left: 10px;
    @include font(500, 30px, 35px, $white-color, 0);

    @media screen and (min-width: $tablet) {
      display: inline-flex;
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;

  &__menu {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;
    margin-right: 39px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: $white-color;
    font-family: $ff-main;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    text-transform: uppercase;

    &.active {
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0px;
        bottom: 0px;
        background: $accent-color;
      }
    }
  }
}

.search-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  @media screen and (min-width: $desktop) {
    margin-top: 42px;
  }
}

.search-form {
  position: relative;
  display: flex;
  width: 280px;

  @media screen and (min-width: $tablet) {
    width: 336px;
  }

  &__input {
    width: 100%;
    padding: 4px;
    border: none;
    border-bottom: 0.5px solid $white-color;
    background-color: transparent;
    outline: none;
    @include font(400, 14px, 16px, $white-color);

    &::placeholder {
      @include font(400, 14px, 16px, $white-color);
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 12px;
    height: 12px;

    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
  }
}

// ------------ BUTTON ------------//

.button-library {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 110px;
  max-height: 60px;

  border-radius: 5px;
  padding: 13px;
  background-color: transparent;
  border: 1px solid $black-color;
  text-transform: uppercase;
  @include font(500, 12px, 16px);

  transition: background-color $animation-duration $bezier-transition,
    border-color $animation-duration $bezier-transition,
    color $animation-duration $bezier-transition;

  &:hover,
  &:focus,
  &.is-active {
    cursor: pointer;
    color: $white-color;
    border-color: $accent-color;
    background-color: $accent-color;
  }

  &.is-active {
    cursor: pointer;
    color: $white-color;
    border-color: $accent-color;
    background-color: $accent-color;
    padding: 8.5px;
  }
}

// ------------ LIB (+button) -----------------//

.library-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
    width: 130px;
    height: 44px;
    border: 1px solid $white-color;
    border-radius: 5px;
    @include font(500, 12px, 16px, $white-color);
    text-transform: uppercase;
    background-color: transparent;
    outline: none;
    transition: background-color $ease-transition, box-shadow $ease-transition;

    &:hover,
    &:focus,
    &.is-active {
      cursor: pointer;
      background-color: $accent-color;
      border: 1px solid $accent-color;
      box-shadow: $accent-shadow;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    @media screen and (min-width: $tablet) {
      width: 152px;
      &:not(:last-child) {
        margin-right: 32px;
      }
    }
    @media screen and (min-width: $desktop) {
      width: 148px;
      height: 42px;
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
}

