.backdrop {
  background-color: rgba($color: #818181, $alpha: 0.25);
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity $animation-duration $bezier-transition;
  z-index: 20;
  &--is-hidden .modal {
    transform: scale(0.15);
    bottom: 0vh;
    transition: transform $animation-duration $bezier-transition,
      opacity $animation-duration $bezier-transition;
  }
  &--is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity $animation-duration $bezier-transition;
  }
  @media screen and (min-width: $tablet) {
    overflow: none;
  }
}

.modal {
  margin: 0 auto;
  padding: 48px 20px 40px;
  width: 292px;
  background-color: $white-color;
  opacity: 1;
  transform: scale(1);
  transition: transform $animation-duration $bezier-transition,
    opacity $animation-duration $bezier-transition;
  @media screen and (min-width: $tablet) {
    padding: 40px 72px 40px 36px;
    margin-top: 7%;
    width: 704px;
    height: 552px;
  }
  @media screen and (min-width: $desktop) {
    padding: 40px 16px 16px 16px;
    margin-top: 7%;
    width: 814px;
    height: 558px;
  }
}

.modal-content {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.modal__btn--close {
  background: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border: none;
  z-index: 10;
}

.modal .material-icons {
  font-size: 30px;
  color: #000000;
}

.movie__image {
  overflow: hidden;
  border-radius: 5px;
  @media screen and (min-width: $phone) {
    margin-bottom: 20px;
    &--img {
      min-width: 240px;
    }
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    &--img {
      min-width: 264px;
    }
  }
  @media screen and (min-width: $desktop) {
    height: 490px;
    & img {
      width: auto;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }
}
.modal-wrapper {
  @media screen and (min-width: $tablet) {
    margin-left: 16px;
  }
  @media screen and (min-width: $desktop) {
    margin: 0;
    margin-left: 16px;
  }
}

.title-container {
  max-width: 370px;
}

.movie__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.16;
  }
}

.movie-details-info {
  margin-top: 20px;

  &__item {
    display: flex;
    align-items: baseline;
    width: 215px;
    margin: 8px 0;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $tablet) {
    max-height: 100px;
  }
}

.details__first-item {
  display: block;
  min-width: 70px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

.rate-color {
  padding: 0 10px;
  background: $accent-color;
  color: $white-color;
  border-radius: 5px;
}

.details__second-item {
  display: block;
  margin-left: 15%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
}

.about__movie {
  margin-top: 20px;
  @media screen and (min-width: $tablet) {
    margin-top: 40px;
  }
}

.movie__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  @media screen and (min-width: $tablet) {
    max-width: 264px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 391px;
  }
}

.to-uppercase {
  text-transform: uppercase;
}

.movie__description--title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

.modal__buttons {
  margin-top: 20px;
  display: flex;
  margin-right: -20px;
}

.modal__btn {
  margin-right: 20px;
  padding: 6px 27px;
  max-width: 110px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border-radius: 5px;
  border: 1px solid $black-color;
  cursor: pointer;
  transition: all $animation-duration $bezier-transition;

  &:hover {
    background: $accent-color;
    color: $white-color;
    border-color: $accent-color;
  }
  @media screen and (min-width: $tablet) {
    min-width: 125px;
    padding: 14px 8px;
  }
  @media screen and (min-width: $desktop) {
    min-width: 136px;
    padding: 14px 10px;
  }
}

.modal__btn--active {
  background: $accent-color;
  color: $white-color;
  border-color: $accent-color;
}
