.movies {
  padding-top: 32px;
  padding-bottom: 60px;
}

.collection {
  margin-bottom: -32px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.collection__item {
  margin-bottom: 32px;
  cursor: pointer;

  &:last-child {
    @media (min-width: $desktop) {
      margin-left: 16px;
    }

    margin-right: auto;
  }
}

.genre-filter__btn {
  margin: -15px auto 10px;
  display: block;
  min-width: 110px;
  padding: 10px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: color $animation-duration $bezier-transition;

  &:hover,
  &.is-active {
    color: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    margin: -15px auto 0;
  }
}
