// ------------- FONT ---------------//
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap);

@mixin font($fw, $fs, $lh, $fc: $black-color, $ls: 0) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh / $fs;
  color: $fc;
  letter-spacing: $ls;
}

//-----------ANIMATION-HEADER-----------//

@mixin animate-active {
  height: 0;
  transform: scaleY(0);
  transition: transform ease-in 300ms, height ease-in 300ms;
  &.active {
    height: auto;
    transform: scaleY(1);
  }
}
