// --------- BREAKPOINT ------------//

$phone: 320px;
$tablet: 768px;
$desktop: 1024px;

// ---------- VARS ---------//

$ff-main: 'Roboto', sans-serif;
$white-color: #fff;
$black-color: #000;
$accent-color: #ff6b08;
$accent-shadow: 0px 0px 6px 2px #ff6b0880;
$bg-gradient: linear-gradient(#00000056, #00000056);
$switch-theme-gr: linear-gradient(135deg, rgb(94, 195, 240), rgb(240, 229, 85));
$patriotic-yellow: rgb(240, 229, 85);
$patriotic-blu: rgb(94, 195, 240);

$animation-duration: 250ms;
$bezier-transition: cubic-bezier(0.4, 0, 0.2, 1);
$ease-transition: 250ms ease-in-out;
